<app-header></app-header>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://talanails.net/upload/bg/banner-69-Xt97a.jpg" class="d-block w-100" alt="..." />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
</div>

<div class="w-[60%] m-auto">
    <!-- Phần hình ảnh và thông tin giá -->
    <div class="flex flex-wrap">
        <div class="w-[35%] rounded-sm">
            <img src="https://talanails.net/upload/service/dipping-powder-with-french-69-CbK7.jpg"
                alt="Dipping Powder with French" title="Dipping Powder with French">
        </div>
        <div class="w-[60%] ml-4">
            <div class="flex items-center leading-8">
                <a class="rounded-md mr-3 bg-[#b2b2b2] p-1" href="">Nail Enhancement</a>
                <h1 class="text-xl font-bold">Dipping Powder with French</h1>
            </div>
            <div class="flex items-center mt-9">
                <p class="mr-2">Price</p>
                <p class="text-xl font-semibold text-[#cd8c00]">50$</p>
            </div>
        </div>
    </div>

    <!-- Phần dịch vụ liên quan -->
    <div class="mt-6">
        <h1 class="text-xl font-medium text-center">Related Service</h1>
        <ul class="pt-3 pb-6">
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">Pedicure</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small>$</small> 30</span>
                </a>
            </li>
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">Nail Soak off with Services</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small>$</small> 5</span>
                </a>
            </li>
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">Classic Manicure</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small>$</small> 30</span>
                </a>
            </li>
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">Straight Up</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small>$</small> 40</span>
                </a>
            </li>
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">Acrylic Full Set</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small>$</small> 40</span>
                </a>
            </li>
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">Water</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small></small> </span>
                </a>
            </li>
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">
                        Pedicure with Gel</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small>$</small> 40</span>
                </a>
            </li>
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">French</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small>$</small> 7</span>
                </a>
            </li>
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">Gel Manicure</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small>$</small> 40</span>
                </a>
            </li>
            <li class="inline-block w-full h-8 mb-2">
                <a href="#" class="flex items-center text-[#cd8c00] font-bold">
                    <span class="">Straight Up</span>
                    <span class="flex items-center flex-grow border-b border-[#cd8c00] mx-2"></span>
                    <span class="flex items-center"><small>$</small> 30</span>
                </a>
            </li>
        </ul>
    </div>
</div>


<app-footer></app-footer>