<app-header></app-header>
<div class="w-[100%] mx-auto">
    <img src="https://talanails.net/upload/bg/banner-69-lPWUF.jpg" alt="TaLa Nails contact" class="w-full" />
    <div class="w-[60%] mx-auto text-center">
        <h1 class="text-[#cd8c00] text-3xl m-10">Welcome to Tala Nails!</h1>
        <p class="leading-[50px] mb-[150px]">
            Where beauty and elegance meet!
            At TaLa Nails, we are dedicated to providing a luxurious and pampering experience that will leave you
            feeling refreshed, rejuvenated, and beautiful. Our salon is your one-stop destination for all your nail
            needs, offering a wide range of services and premium products to cater to your unique style and preferences.
            When you enter our doors, you will be greeted by our friendly and professional staff, who are committed to
            ensuring your utmost comfort and satisfaction. Our salon boasts a chic and welcoming atmosphere designed to
            create a serene and relaxing space where you can unwind and indulge in well-deserved self-care.
            We offer manicures, pedicures, dipping nails, gel nails, acrylic nails, kids' menus, and waxing.
            Whether you need a refreshing change, a little self-indulgence, or preparing for a special occasion, the
            professional and friendly team at TaLa Nails is here to make your experience unforgettable. We pride
            ourselves on our commitment to excellence and our dedication to our client's satisfaction.
            Please book an appointment today, and let us care for your nail needs. Get ready to enter a world of
            elegance, style, and relaxation. We look forward to welcoming you!
            Please find us at 2135 E Broadway Ave, Maryville, TN 37804.
        </p>
    </div>
</div>
<app-footer></app-footer>