<header class="bg-[#b2b2b2]">
    <div class="container mx-auto flex gap-4 items-center p-2">
        <img src="https://talanails.net/upload/logo/logo-69-ytPDQ.png" alt="TaLa Nails" class="max-h-10" />
        <div class=" flex ml-[500px]">
            <a routerLink="" class="text-[#ffffff] hover:text-[#cd8c00] m-3">Home</a>
            <a routerLink="/info" class="text-[#ffffff] hover:text-[#cd8c00] m-3">Info</a>
            <div class="text-white p-3">
                <p>Xin chào</p>
            </div>
        </div>
    </div>
</header>